# Ignore Python environment files
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Ignore macOS system files
.DS_Store

# Ignore environment config
.env
.env.*

# Ignore logs
*.log

# Ignore Streamlit's temporary files
.streamlit/config.toml